@{
    ViewBag.Title = "Display Query String";
}

<h2>Display Query String</h2>

<p>
    <strong>Username:</strong> @ViewBag.Username
</p>
<p>
    <strong>User Age:</strong> @ViewBag.UserAge
</p>
