@model WebApp3BySuraj.Models.Todo

<h1>Create To-Do</h1>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group form-check">
        <input asp-for="IsCompleted" class="form-check-input" type="checkbox" />
        <label asp-for="IsCompleted" class="form-check-label"></label>
        <span asp-validation-for="IsCompleted" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>
